body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Sans-Serif;
  text-align: center;
}

.butoon {
  background-color: aquamarine;
  color: #282c34;
  border: 10px;
  position : relative;
  }